* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  background-color: rgb(33, 76, 98);
  color: white;
  display: flex;
  flex-direction: column;
}